.Post{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 30px;
	padding: 10px;
  }
  
.name {
color: black;
}

.button {
	background-color: red;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
  }